<div class="container-fluid">


    <div class="jumbotron text-center">
        <h1 class="display-4">GitHub-Search</h1>
    </div>


    <div class="userclass">


        <app-search (searchResult)="search($event)"></app-search> <br>

        <div class="container content">


            <div class="row">
                <div class="col-sm-6" id="image">
                    <div class="image">
                        <div class="card-img-top">
                            <img src="{{ user.avatar_url }}">
                        </div>
                        <div class="card-body">
                            <span class="name"><i class="fa fa-user" style="font-size:20px"></i> &nbsp;{{user.login}}</span> &nbsp;
                            <a href="{{user.html_url}}"><button class="btn btn-success btn-sm"><i class="fa fa-github"
                                        style="font-size:20px"></i> &nbsp; <span id="profile">My Github</span>
                                </button></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" id="details">
                        <div class="card-body">
                            <h4 class="title">Username : <span class="name"> {{ user.login }}</span>
                            </h4>
                            <hr>
                            <p><i class="" style="font-size:30px"></i> Repositories : <span
                                    class="repo-num"> {{ user.public_repos }}</span></p><br>
                            <p><i class="" style="font-size:25px"></i> Joined : <span class="joined">
                                    {{ user.created_at | dateCount }} </span> </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center" id="repositories">
            <h2>Repositories</h2>
        </div>

        <div class="container repositories">
            <div class="card" id="repo" *ngFor="let repository of repo" style="width: 22rem;">
                <div class="card-body text-white">
                    <div class="card-title">
                        <h5><span class="repo-name">Name:</span> {{ repository.name }} </h5>
                    </div>
                    <hr>
                    <div class="card-text">
                        <div class="description"><span class="headers">Description :</span> {{ repository.description }}
                        </div><br>
                        <div class="card-subtitle"><span class="headers">Language :</span> {{ repository.language }}
                        </div><br>
                        <div class="card-subtitle"><span class="headers">Created :</span>
                            {{ repository.created_at | dateCount }} </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary" id="button-link"><a href="{{repository.html_url}}"
                            class="link">View Repo</a></button>
                </div>
            </div>
        </div>

    </div>
</div>

<footer>
    <p>GITHUB-SEARCH<BR>2020</p>
</footer>