.userclass{
    background-color: rgba(173, 52, 36, 0.2);
}

.jumbotron{
    background-color: rgba(173, 52, 36, 0.2);
}

image{
    width: 80%;
    border-radius: 15px;
}

#details{
    background-color: rgba(173, 52, 36, 0.2);
}

#repo{
    background-color: rgba(173, 52, 36, 0.2);
}

a{
    text-decoration: none;
}

.repo-num,.joined{
    float: right;
}

#button-link{
    border-radius: 50px;
}

.headers{
    font-weight: bold;
}

.repositories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#repositories{
    color: rgb(7, 1, 1);
    margin-bottom: 3%;
}

footer{
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
}